@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* header */

header {
    width: 100%;
    padding-bottom: 40px;
}

header .inner {
    width: 100%;
    height: 120px;
    margin: 0px auto;
    position: relative;
    padding-left: 250px;
}

header .home a:link, header .home a:visited {
    color: black;
    padding-top: 55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 150px;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px 40px;
    transition: all 0.5s;
    text-decoration: none;
}

header .inner #gnb li a:hover {
    background: rgb(160, 158, 158);
    color: #fff;
}

/* visual */

figure {
    width: 100%;
    height: 350px;
    background: rgb(16, 16, 36);
    position: relative;
    overflow: hidden;
    padding-top: 100px;
}

figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}

figure .inner h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    margin-bottom: 30px;
}

figure .inner h6 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

/* objects */

section {
    width: 100%;
    height: 300px;
    padding: 100px 0px;
}

section .inner {
    width: 100%;
    margin: 0px auto;
    margin-top: -30px;
    margin-bottom: -60px;
}

section .inner .wrap {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

section .inner .wrap article {
    width: 600px;
    float: left;
    margin-right: 50px;
}

section .inner .wrap article h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

section .inner .wrap article p {
    width: 550px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #777;
    text-align: justify;
    line-height: 30px;
}

.team {
    width: 100%;
    height: 1450px;
    padding: 100px 0px;
}

.team .title h1 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.team .first {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.team .first article {
    width: 800px;
    padding-left: 200px;
}

.team .first img {
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.team .first h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    /* text-align: justify; */
    line-height: 30px;
}

.team .first p {
    width: 500px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #777;
    text-align: justify;
    line-height: 25px;
}

.team .second {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.team .second article {
    width: 800px;
    padding-left: 200px;
}

.team .second img {
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.team .second h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    /* text-align: justify; */
    line-height: 30px;
}

.team .second p {
    width: 500px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #777;
    text-align: justify;
    line-height: 25px;
}

.team .third {
    display: flex;
    justify-content: center;
}

.team .third article {
    width: 800px;
    padding-left: 200px;
}

.team .third img {
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.team .third h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    /* text-align: justify; */
    line-height: 30px;
}

.team .third p {
    width: 500px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #777;
    text-align: justify;
    line-height: 25px;
}

/* footer */

footer {
    width: 100%;
    height: 270px;
    background: #333;
    opacity: 0.8;
    padding: 100px 0px;
    border-top: 1px solid #888;
}

footer .inner {
    width: 100%;
    margin: 0px auto;
    margin-top: -25px;
    padding-left: 150px;
    padding-right: 150px;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

footer .inner .upper::after {
    content: "";
    display: block;
    clear: both;
}

footer .inner .upper h1 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 33px;
    font-weight: lighter;
    color: rgb(252, 252, 245);
}

footer .inner .upper ul {
    float: right;
}

footer .inner .upper ul li {
    float: left;
    margin-left: 22px;
    margin-top: 20px;
    color: rgb(252, 252, 245);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower p {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(252, 252, 245);
    line-height: 25px;
}
