@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* header */

header {
    width: 100%;
    padding-bottom: 40px;
}

header .inner {
    width: 100%;
    height: 120px;
    margin: 0px auto;
    position: relative;
    padding-left: 250px;
}

header .home a:link, header .home a:visited {
    color: black;
    padding-top: 55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 150px;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px 40px;
    transition: all 0.5s;
    text-decoration: none;
}

header .inner #gnb li a:hover {
    background: rgb(160, 158, 158);
    color: #fff;
}

/* visual */

figure {
    width: 100%;
    height: 350px;
    background: rgb(16, 16, 36);
    position: relative;
    overflow: hidden;
    padding-top: 100px;
}

figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}

figure .inner h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    margin-bottom: 30px;
}

figure .inner h6 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

/* objects */

section {
    width: 100%;
    height: 750px;
    padding: 80px 0px;
}

section .inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

section .inner .first {
    display: flex;
    justify-content: center;
}

section .inner .first .DL {
    width: 450px;
    height: 550px;
    margin-right: 50px;
    border: solid 1px #888;
    border-radius: 20%;
}

section .inner .first .NLP {
    width: 450px;
    height: 550px;
    margin-right: 50px;
    border: solid 1px #888;
    border-radius: 20%;
}

section .inner .first .hugginface {
    width: 450px;
    height: 550px;
    border: solid 1px #888;
    border-radius: 20%;
}

section .inner h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 15px;
    margin-top: 60px;
    margin-left: 40px;
}

section .inner h4 {
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 50px;
}

section .inner p {
    width: 530px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Noto Sans KR', sans-serif;
    color: #777;
    text-align: justify;
    line-height: 30px;
}

section .inner  a {
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: black;
}

/* footer */

footer {
    width: 100%;
    height: 270px;
    background: #333;
    opacity: 0.8;
    padding: 100px 0px;
    border-top: 1px solid #888;
}

footer .inner {
    width: 100%;
    margin: 0px auto;
    margin-top: -25px;
    padding-left: 150px;
    padding-right: 150px;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

footer .inner .upper::after {
    content: "";
    display: block;
    clear: both;
}

footer .inner .upper h1 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 33px;
    font-weight: lighter;
    color: rgb(252, 252, 245);
}

footer .inner .upper ul {
    float: right;
}

footer .inner .upper ul li {
    float: left;
    margin-left: 22px;
    margin-top: 20px;
    color: rgb(252, 252, 245);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower p {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(252, 252, 245);
    line-height: 25px;
}
